@import '../../scss/variables';

footer{
    padding: 50px 0;
    button.btn, .primrayColor{
        background-color: $primaryColor;
        color: #fff;
    }
    p,i,.copyrights{
        color: #e6e6e6;
    }
}
.copyrights{
    background-color: #1a1d20;
}