<footer class="bg-dark">
  <div class="container">
    <div class="row">
      <!-- ============= first column =============== -->
      <div class="col-md-4">
        <h4 class="mb-2 text-white">Contacts</h4>
        <hr class="right mb-3">
        <p class="pl-1 pt-2 mb-1">
          <i class="icon-mail-alt pr-1"></i> Info@FoodCourt.com</p>
        <p class="pl-1 mb-4">
          <i class="icon-mobile pr-1"></i> 012345678910</p>
        <p class="pl-1 mb-0">
          <i class=" icon-location pr-1"></i>123 Fawzy Mouaz St. #20,</p>
        <p class="pl-4 mb-0">Smouha, Alexandria,</p>
        <p class="pl-4">Egypt.</p>
      </div>
      <!-- =========== second column ============ -->
      <div class="col-md-4">
        <h4 class="mb-2 text-white">About US</h4>
        <hr class="right mb-3">
        <p class="pt-2 pr-5">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32
          and 1.10.33 from " the 1914 translation by H. Rackham.</p>
      </div>
      <!-- =========== third column ============= -->
      <div class="col-md-4">
        <h4 class="mb-2 text-white">Subscribe to our newsletters</h4>
        <hr class="right mb-3">
        <p class="pt-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
          form, by injected humour,</p>
        <form class="pt-4">
          <div class="row p-0">
            <div class="col-md-9 pr-0">
              <label class="sr-only" for="inlineFormInput">Email</label>
              <input type="email" class="form-control rounded-0 mb-2" id="inlineFormInput" placeholder="Jane@gmail.com">
            </div>
            <div class="col-md-3 pl-0">
              <button type="submit" class="btn primrayColor rounded-0 mb-2">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
<!-- ============= copy rights ============== -->
<div class="copyrights pt-2 pb-2 text-center">
  Copyright © 2018 Copyright Holder All Rights Reserved.
</div>