<header>
  <!-- =============== nav bar ========================= -->
  <nav class="navbar navbar-expand-md">
    <div class="container">
      <a class="brand navbar-brand" routerLink="">
        <img src="../../assets/imgs/logo.png" alt="Ibtikar">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="row">
              <!-- ============= cart drop down ================= -->
              <div class="m-1 text-right">
                <div ngbDropdown placement="bottom-right" class="d-inline-block">
                  <span class="num pt-1 pb-1 pl-2 pr-2 rounded-circle">{{cartData.length}}</span>
                  <button class="btn bg-transparent p-0 mr-3" id="dropdownBasic2" ngbDropdownToggle>
                    <i class="cart icon-shopping-basket"></i>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                    <button class="dropdown-item">
                      <a routerLink="/cart">Show Selected Products</a>
                    </button>
                    <button class="dropdown-item">
                      <a routerLink="/userinfo">Submit Your Order</a>
                    </button>
                  </div>
                </div>
              </div>
              <!-- ================ user profile =================== -->
              <div class="m-1 text-right">
                <div ngbDropdown placement="bottom-right" class="d-inline-block">
                  <button class="btn bg-transparent p-0 ml-3" id="dropdownBasic2" ngbDropdownToggle>
                    <div class="pp rounded-circle"></div>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                    <button class="dropdown-item">View / Edit profile</button>
                    <button class="dropdown-item">Sign Out</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>