@import '../../scss/variables';
@import '../../scss/mixins';

header{
    nav{
        background-color: $primaryColor;
        position: fixed;
        width: 100vw;
        z-index: 1;
        a.brand{
            color: #fff;
        }
        .num{
            background-color: $secondaryColor;
            color: #fff;            
        }
        .btn{
            i.cart{
                font-size: 25px; 
                color: #fff;            
                &:hover{
                    color: $secondaryColor;
                }
            }
            .pp{
                width: 40px;
                height: 40px;
                background-image: url('../../assets/imgs/pp.jpg');
                background-size: contain;
            }
            &:focus{
                box-shadow: none;
            }
        }
        .dropdown-toggle::after{
            display: none;
        }
        .dropdown-item{
            color: $secondaryColor;
            &:hover{
                background-color: $primaryColor;
                color: #fff;
                a{
                    color:#fff;
                }
            }
        }
    }
}