<section>
  <div class="container">
    <div class="text-center">
      <h4>
        <span class="info pb-2">Ple</span>ase enter your information in details</h4>
    </div>
    <div class="row justify-content-md-center pt-5">
      <div class="col-md-8 col-sm-6">
        <form name="userData" #userData="ngForm" (ngSubmit)="userFunc(userData)" novalidate>
          <!-- ========== address field =========== -->
          <div class="form-group">
            <label class="font-weight-bold" for="inputAddress">Home address</label>
            <input type="text" id="inputAddress" class="form-control" name="address" #userAdd="ngModel" #data="ngModel" [(ngModel)]="address"
              placeholder="1234 Main St" required>
            <!-- error message -->
            <div *ngIf="userAdd.invalid && (userAdd.dirty || userAdd.touched)">
              <div *ngIf="userAdd.errors.required" class="text-danger">Address is required!</div>
            </div>
          </div>
          <!-- ================ phone number field =================== -->
          <div class="form-group">
            <label class="font-weight-bold" for="inputPhone">Phone number</label>
            <input type="text" #userphone="ngModel" #data="ngModel" class="form-control" id="inputPhone" name="phone" [(ngModel)]="phone"
              placeholder="012456365489" required>
            <!-- error message -->
            <div *ngIf="userphone.invalid && (userphone.dirty || userphone.touched)">
              <div *ngIf="userphone.errors.required" class="text-danger">Phone numebr is required!</div>
            </div>
          </div>
          <div class="form-group">
            <label class="font-weight-bold" for="InputEmail1">Email address</label>
            <input type="email" #userEmail="ngModel" #data="ngModel" class="form-control" id="InputEmail1" name="email" [(ngModel)]="email"
              placeholder="name@example.com" required>
            <!-- error message -->
            <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)">
              <div *ngIf="userEmail.errors.required" class="text-danger">Email is required!</div>
            </div>
          </div>
          <div class="text-right">
            <button type="submit" class="btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>